.business {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem 2.3rem .5rem;
}

.business .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
}

.business h2 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.business-infos {
    display: flex;
    justify-content: space-between;
}

.business-infos p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 0;
}

.business-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.business-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.business-reviews h3 {
    margin: 0;
    color: #7b7562;
    font-weight: 600;
    text-transform: uppercase;
}

.business-ratings {
    font-size: 0.88rem;
    line-height: 1rem;
}

